<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ei voi poistaa</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-ainetta ei poistettu</h1>

        <p>Raaka-aine on käytössä ainakin yhdessä reseptissä, joten sitä ei voi poistaa.</p>

        <p><a href="/reseptit/raakaaineet">Palaa tarkastelemaan raaka-aineita</a></p>
    </body>
</html>
